*{

    margin: 0;
    padding: 0;
}

body{
    
    font-family: 'Open Sans', sans-serif;
}

/* This is nav design */

.nav-container{

    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding-top: 50px;
   
}

header{
    background-color: #FFF8F3;


}


.nav-title{
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    

}
.primary-color{

    color: #FD6E0A;

}
.nav-container ul {
    display: flex;
    align-items: center ;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
    
}
nav ul li a{

    text-decoration: none;
    color: #474747;
}
.primary-btn-color{

    width: 141px;
    height: 52px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: none;
    padding: 13px 31px;;
}

/* This is navbar section */

/* this is banner section */

.banner{

    display: flex;
    padding: 20px 0px 10px 150px;
    justify-content: space-around;
    align-items: center;

}

.banner-btn{
    width: 130px;
    height: 52px;
    font-size: 15px;
    color: #FFF;
    background: #FD6E0A;
    border: none;
    border-radius: 5px;

    font-style: normal;
    font-weight: 400;

}

.contact-btn{

    width: 130px;
    height: 52px;
    font-size: 15px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;

    font-style: normal;
    font-weight: 400;
    margin-right: 90px;
}

.banner-img{
    width: 400px;
    height: auto;


}